body {
    background-color: #aa0505;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
}
.starterHead {
    background-color: #518dca;
    text-align: center; 
    padding: 2%;
    border: 8%;
    margin: 10%;
}

.starterDiv {
    background-color: #F78F3F;
    text-align: center;
    padding: 8%;
    border: 20%;
    margin: 10%
}
#start {
    background-color: #F78F3F;
    position: relative;
    left: 50%;
    margin-top: 5%;
    border: none;
}
.btn {
    background-color: #fbca03;
    padding: 1.5%;
    color: black;
    border: none;
}

.blankRS {
    background-color: gainsboro;
    
    border: none; 
}
#results{
    left: 90%;
    border: none;
}
#right {
    list-style: none;
}
